body{ 
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFC;
	margin: 0;
	padding: 0;
	border: 0;
}

#headerBlock{
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

#logoBlock{	
	background-color: #76b5c5;
	text-align: center;
	margin: 0;
	padding: 10px;
	border: 0;
}

#contentBlock{
	width: 900px;
	margin: 0 auto;
}

#navigation{  
	display: flex;
	justify-content: center;
	padding: 15px 5px; 
	background-color: #FBFBFB; 
}

#maincontent {
overflow: hiddden;
padding: 5px; 
margin: 5px;

}

#textBrdrBlock{
	border: 1px solid rgba(0, 0, 0, 0.5);
	padding: 35px 25px;
	margin: 25px 0;
	text-align: left; 
}

.#clear{
	clear: both;
}

#greeting{
text-align: left;
padding-top: 10px;
padding-left: 10px; 
}

#background-color{

background-color: #76b5c5

}
